<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Página inicial</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<form>
			<div class="form-group">
				<input class="form-control form-control-sm" type="text" placeholder="Nome">
				{% for vaga in vagas %}
				<select class="form-control form-control-sm">
  					<option>{{ vaga.nome_vaga }}</option>
				</select>
				{% endfor %}
				<label for="curriculoFile">Adicione um arquivo</label>
    			<input type="file" class="form-control-file" id="curriculoFile"><br>
    			<button type="button" class="btn btn-success">Adicionar</button>
			</div>
		</form>
	</body>
</html>